{% extends "base/base.html" %}

{% block css %}
<style>
    .cool-title {
        color: blueviolet;
    }
</style>
{% call super() %}
{% endblock %}

{% block master_body %}
{% include "layout/sidebar.html" %}
{% include "layout/navbar.html" %}
<div class="pc-container">
    <div class="pc-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            {% block dashboard_body %}{% endblock dashboard_body %}
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
{% include "layout/footer.html" %}
{% call super() %}
{% endblock %}